@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(
    to right,
    #11151d,
    #11161f,
    #111620,
    #111722,
    #111724,
    #111724,
    #111724,
    #111724,
    #111722,
    #111620,
    #11161f,
    #11151d
  );
  color: #eee;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
